﻿@model IEnumerable<SunProject.Shared.Models.SunData>


@{
    ViewData["Title"] = "Index";
}

<h4>Sunset and Sunrise Information</h4>

@if (Model.Any())
{
<div class="sun-buttons">
    <button class="btn btn-primary btn-sunrise">Show Sunrises</button>
    <button class="btn btn-secondary btn-sunset">Show Sunsets</button>
    <button class="btn btn-secondary btn-both">Show Both</button>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th class="info-sunrise show">
                    @Html.DisplayNameFor(model => model.Sunrise)
                </th>
                <th class="info-sunset hide">
                    @Html.DisplayNameFor(model => model.Sunset)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Date.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.City.Name
                    </td>
                    <td class="info-sunrise show">
                        @item.Sunrise.ToLocalTime().ToString("HH:mm:ss")
                    </td>
                    <td class="info-sunset hide">
                        @item.Sunset.ToLocalTime().ToString("HH:mm:ss")
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There is no data yet</p>
}

<script>
    $(".sun-buttons button").click(function () {
        $(this).addClass("btn-primary").removeClass("btn-secondary")
            .siblings().addClass("btn-secondary").removeClass("btn-primary");
    });
    $(".btn-sunrise").click(function () {
        $(".info-sunrise").addClass("show").removeClass("hide");
        $(".info-sunset").addClass("hide").removeClass("show");
    });
    $(".btn-sunset").click(function () {
        $(".info-sunset").addClass("show").removeClass("hide");
        $(".info-sunrise").addClass("hide").removeClass("show");
    });
    $(".btn-both").click(function () {
        $(".info-sunrise, .info-sunset").addClass("show").removeClass("hide");
    });

</script>
