﻿@model IEnumerable<SunProject.Shared.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h4>Users</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @if (item.IsAdmin == true)
                    {
                        <strong>Yes</strong>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td class="text-right">
                    @if (SunProject.Client.Helpers.UserData.CurrentUser.Id != item.Id)
                    {
                        if (item.IsAdmin == true)
                        {
                            <a asp-action="RevokeAccess" asp-route-id="@item.Id">Revoke Access</a>
                        }
                        else
                        {
                            <a asp-action="GrantAccess" asp-route-id="@item.Id">Grant Access</a>
                        }
                        <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
