﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">Error.</h2>
<h4 class="text-danger">An error occurred while processing your request.</h4>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
@if (!String.IsNullOrEmpty((ViewBag.Ex)))
{
    <p>
        <strong>Exception throwed:</strong> <code>@ViewBag.Ex</code>
    </p>
}
