﻿@model IEnumerable<SunProject.Shared.Models.City>

@{
    ViewData["Title"] = "Index";
}
@{
    bool IsAdmin = false;
    @if (SunProject.Client.Helpers.UserData.CurrentUser != null && SunProject.Client.Helpers.UserData.CurrentUser.IsAdmin == true)
    {
        IsAdmin = true;
    }
}

<h4>Cities</h4>
@if (IsAdmin)
{
    <p>
        <a asp-action="Add" class="btn btn-primary">Add New City</a>
    </p>
}
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitude)
                </th>
                @if (IsAdmin)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Latitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longitude)
                    </td>
                    @if (IsAdmin)
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <span>|</span>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There is no data yet</p>
}
